version: '3.8'

services:
  tarot-backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: tarot-backend
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app  # Mapeia a pasta local para dentro do container
      - /usr/src/app/node_modules  # Evita sobrescrever a pasta node_modules
    networks:
      - app_network
networks:
  app_network:
    driver: bridge
    