JWT_SECRET=
MONGO_SRV_LOCAL=
MONGO_SRV_HML=
FRONTEND_URL_LOCAL=http://localhost:5173
FRONTEND_URL_HML=https://app-tarot-front-end.vercel.app/
FRONTEND_URL_PROD=http://localhost:5173
BACKEND_URL_LOCAL=http://localhost:3000/
BACKEND_URL_HML=https://nest-domain-driven-design.fly.dev/
BACKEND_URL_PROD=http://localhost:3001/
BACKEND_IMGS_URL_LOCAL=http://localhost:3001/uploads/imgs/
BACKEND_IMGS_URL_HML=https://nest-domain-driven-design.fly.dev/uploads/imgs/
BACKEND_IMGS_URL_PROD=http://localhost:3001/uploads/imgs/
STRIPE_SECRET_KEY=
ENV=local
MERCADO_PAGO_ACCESS_TOKEN=seu_access_token_aqui
MERCADO_PAGO_SUCCESS_URL=
MERCADO_PAGO_FAILURE_URL=
MERCADO_PAGO_PENDING_URL=
MERCADO_PAGO_WEBHOOK_URL=https://seu-backend.com/webhooks/mercado-pago
GOOGLE_CLIENT_ID=